<footer class="bg-primary">
    <div class="container">
        <div class="d-flex flex-column justify-content-between flex-md-row text-center">
            <h1 class="py-4 text-white text-left">頭髮危機小宇宙</h1>
            <div class="d-flex d-lg-block justify-content-center">
                <a href="#"><img class="img-fluid custom-icon" src="../assets/images/line.png" alt="line icon"></a>
                <a class="mx-3" href="#"><img class="img-fluid custom-icon" src="../assets/images/facebook.png"
                        alt="facebook icon"></a>
                <a href="#"><img class="img-fluid custom-icon" src="../assets/images/instagram.png"
                        alt="instagram icon"></a>
            </div>
        </div>

        <div class="d-lg-flex justify-content-between">
            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20 fw-bold"><a href="#">頭髮小百科</a></h3>
                </li>
                <li><a href="#">頭皮種類</a></li>
                <li><a href="#">頭髮結構</a></li>
                <li><a href="#">頭髮生長週期</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="#">頭髮解惑指南</a></h3>
                </li>
                <li><a href="#">常見問題介紹</a></li>
                <li><a href="#">頭髮診斷室</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="#">頭髮養護</a></h3>
                </li>
                <li><a href="#">營養健康</a></li>
                <li><a href="#">頭皮護理</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="#">洗髮精介紹</a></h3>
                </li>
                <li><a href="#">頭皮清潔</a></li>
                <li><a href="#">洗髮精挑選</a></li>
                <li><a href="#">洗髮精品牌介紹</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20 fw-bold"><a href="#">頭髮保養診所</a></h3>
                </li>
                <li><a href="#">地圖索引</a></li>
            </ul>
            <div class="d-flex align-items-end mt-76 d-none d-lg-block">
                <form class="mb-2">
                    <input class="custom-input " type="email" placeholder="輸入您的電子信箱">
                    <button class="custom-btn" type="submit">訂閱</button>
                </form>
            </div>
        </div>
        <div class="text-center fs-10 text-white pb-1">Copyright © 2023. All rights reserved.</div>
    </div>
</footer>