<footer class="bg-primary">
    <div class="container">
        <div class="d-flex flex-column justify-content-between flex-md-row text-center">
            <h1 class="py-4 text-white text-left">頭髮危機小宇宙</h1>
            <div class="d-flex d-lg-block justify-content-center">
                <a href="#"><img class="img-fluid custom-icon" src="../assets/images/footer/line.png" alt="line icon"></a>
                <a class="mx-3" href="#"><img class="img-fluid custom-icon" src="../assets/images/footer/facebook.png"
                        alt="facebook icon"></a>
                <a href="#"><img class="img-fluid custom-icon" src="../assets/images/footer/instagram.png"
                        alt="instagram icon"></a>
            </div>
        </div>

        <div class="d-lg-flex justify-content-between">
            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20 fw-bold"><a href="hairpedia.html">頭髮小百科</a></h3>
                </li>
                <li><a href="scalp_types.html">頭皮種類</a></li>
                <li><a href="hair_structure.html">頭髮結構</a></li>
                <li><a href="hair_lifecycle.html">頭髮生長週期</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="hair_faq.html">頭髮解惑指南</a></h3>
                </li>
                <li><a href="hair_loss.html">掉髮</a></li>
                <li><a href="dandruff.html">頭皮屑</a></li>
                <li><a href="scalp_pustules.html">頭皮起膿包、紅疹</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="hair_care.html">頭髮養護</a></h3>
                </li>
                <li><a href="nutrition.html">營養健康</a></li>
                <li><a href="scalp_care.html">頭皮護理</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20  fw-bold"><a href="shampoo_Intro.html">洗髮精介紹</a></h3>
                </li>
                <li><a href="scalp_cleansing.html">頭皮清潔</a></li>
                <li><a href="guide.html">選擇指南</a></li>
                <li><a href="recommendation.html">洗髮精推薦</a></li>
            </ul>

            <ul class="ps-0 d-xl-block d-none">
                <li>
                    <h3 class="fs-20 fw-bold"><a href="hair_care_clinic.html">頭髮保養診所</a></h3>
                </li>
            </ul>
            <div class="d-flex align-items-end mt-76 d-none d-lg-block">
                <form class="mb-2">
                    <input class="custom-input " type="email" placeholder="輸入您的電子信箱">
                    <button class="custom-btn" type="submit">訂閱</button>
                </form>
            </div>
        </div>
        <div class="text-center fs-10 text-white pb-1">Copyright © 2023. All rights reserved.</div>
    </div>
</footer>