<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-xxl navbar-light bg-primary">
    <div class="container d-flex">
        <img class="logo" src="../assets/images/LOGO.png" alt="logo img">
        <h1><a class="h1 text-white text-decoration-none" href="#">頭髮危機小宇宙</a></h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-md-end" id="navbarNavAltMarkup">
            <div class="navbar-nav fs-20 text-white d-xxl-end">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            頭髮小百科
                        </a>
                        <ul class="dropdown-menu" style="background-color: #A38F85;border:none;"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">頭皮種類</a></li>
                            <li><a class="dropdown-item" href="#">頭髮結構</a></li>
                            <li><a class="dropdown-item" href="#">頭髮生長週期</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            頭髮解惑指南
                        </a>
                        <ul class="dropdown-menu" style="background-color: #A38F85;border:none;"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">常見問題介紹</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 2s00px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            頭髮養護
                        </a>
                        <ul class="dropdown-menu" style="background-color: #A38F85;border:none;"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">營養健康</a></li>
                            <li><a class="dropdown-item" href="#">頭皮護理</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            洗髮精介紹
                        </a>
                        <ul class="dropdown-menu" style="background-color: #A38F85;border:none;"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">頭皮清潔</a></li>
                            <li><a class="dropdown-item" href="#">選擇指南</a></li>
                            <li><a class="dropdown-item" href="#">洗髮精推薦</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            頭髮保養診所
                        </a>
                        <ul class="dropdown-menu" style="background-color: #A38F85;border:none;"
                            aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">地圖索引</a></li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>