<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-xxl navbar-light bg-primary">
    <div class="container d-flex">
        <a href="index.html" class="text-decoration-none d-flex align-items-center">
            <img class="logo" src="../assets/images/LOGO.png" alt="logo img">
            <h2 class="h1 text-white mb-0">頭髮危機小宇宙</h2>
        </a>

        <ul class="header-nav d-flex justify-content-between ps-0 mb-0">
            <li class="nav-item me-2">
                <a href="hairpedia.html" class="d-block px-3 py-2">頭髮小百科</a>
                <div class="sub-menu">
                    <ul class="ps-3 py-2 mt-1">
                        <li class="mb-2"><a href="scalp_types.html">頭皮種類</a></li>
                        <li class="mb-2"><a href="hair_structure.html">頭髮結構</a></li>
                        <li class="mb-2"><a href="hair_lifecycle.html">頭髮生長週期</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item me-2">
                <a href="hair_faq.html" class="d-block px-3 py-2">頭髮解惑指南</a>
                <div class="sub-menu">
                    <ul class="ps-3 py-2 mt-1">
                        <li class="mb-2"><a href="hair_loss.html">掉髮</a></li>
                        <li class="mb-2"><a href="dandruff.html">頭皮屑</a></li>
                        <li class="mb-2"><a href="scalp_pustules.html">頭皮起膿包、紅疹</a></li>
                        <li class="mb-2"><a href="hair_graying.html">頭髮太早變白</a></li>
                        <li class="mb-2"><a href="oily_scalp.html">頭皮出油</a></li>
                        <li class="mb-2"><a href="split_ends.html">頭髮分岔</a></li>
                        <li class="mb-2"><a href="frazzled_hair.html">頭髮毛躁</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item me-2">
                <a href="hair_care.html" class="d-block px-3 py-2">頭髮養護</a>
                <div class="sub-menu">
                    <ul class="ps-3 py-2 mt-1">
                        <li class="mb-2"><a href="nutrition.html">營養健康</a></li>
                        <li class="mb-2"><a href="scalp_care.html">頭皮護理</a></li>
                    </ul>
                </div>
            </li>

            <li class="nav-item me-2">
                <a href="shampoo_Intro.html" class="d-block px-3 py-2">洗髮精介紹</a>
                <div class="sub-menu">
                    <ul class="ps-3 py-2 mt-1">
                        <li class="mb-2"><a href="scalp_cleansing.html">頭皮清潔</a></li>
                        <li class="mb-2"><a href="guide.html">選擇指南</a></li>
                        <li class="mb-2"><a href="recommendation.html">洗髮精推薦</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a href="hair_care_clinic.html" class="d-block px-3 py-2">頭髮保養診所</a></li>
        </ul>

        <nav class="nav2">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">頭髮危機小宇宙</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li>
                            <div class="d-flex align-items-center mb-2">
                                <a href="hairpedia.html" class="d-block px-3">頭髮小百科</a>
                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false"
                                    aria-controls="collapseExample1">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            </div>

                            <div class="collapse" id="collapseExample1">
                                <ul class="ps-36">
                                    <li class="mb-2"><a href="scalp_types.html">頭皮種類</a></li>
                                    <li class="mb-2"><a href="hair_structure.html">頭髮結構</a></li>
                                    <li class="mb-2"><a href="hair_lifecycle.html">頭髮生長週期</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex align-items-center mb-2">
                                <a href="hair_faq.html" class="d-block px-3">頭髮解惑指南</a>
                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false"
                                    aria-controls="collapseExample2">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            </div>

                            <div class="collapse" id="collapseExample2">
                                <ul class="ps-36">
                                    <li class="mb-2"><a href="hair_loss.html">掉髮</a></li>
                                    <li class="mb-2"><a href="dandruff.html">頭皮屑</a></li>
                                    <li class="mb-2"><a href="scalp_pustules.html">頭皮起膿包、紅疹</a></li>
                                    <li class="mb-2"><a href="hair_graying.html">頭髮太早變白</a></li>
                                    <li class="mb-2"><a href="oily_scalp.html">頭皮出油</a></li>
                                    <li class="mb-2"><a href="split_ends.html">頭髮分岔</a></li>
                                    <li class="mb-2"><a href="frazzled_hair.html">頭髮毛躁</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex align-items-center mb-2">
                                <a href="hair_care.html" class="d-block px-3">頭髮養護</a>
                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false"
                                    aria-controls="collapseExample3">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            </div>

                            <div class="collapse" id="collapseExample3">
                                <ul class="ps-36">
                                    <li class="mb-2"><a href="nutrition.html">營養健康</a></li>
                                    <li class="mb-2"><a href="scalp_care.html">頭皮護理</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex align-items-center mb-2">
                                <a href="shampoo_Intro.html" class="d-block px-3">洗髮精介紹</a>
                                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false"
                                    aria-controls="collapseExample4">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                            </div>

                            <div class="collapse" id="collapseExample4">
                                <ul class="ps-36">
                                    <li class="mb-2"><a href="scalp_cleansing.html">頭皮清潔</a></li>
                                    <li class="mb-2"><a href="guide.html">選擇指南</a></li>
                                    <li class="mb-2"><a href="recommendation.html">洗髮精推薦</a></li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="d-flex align-items-center">
                                <a href="hair_care_clinic.html" class="d-block px-3">頭髮保養診所</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>


<script type="module" src="../assets/js/layout/header.js"></script>