<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">


<nav class="navbar navbar-expand-xxl navbar-light bg-primary">
    <div class="container d-flex">
        <img class="logo" src="../assets/images/LOGO.png" alt="logo img">
        <a class="h1 text-white text-decoration-none" href="#">頭髮危機小宇宙</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-md-end" id="navbarNavAltMarkup">
            <div class="navbar-nav fs-20 text-white d-xxl-end">
                <a class="nav-link" href="#">頭髮小百科</a>
                <a class="nav-link" href="#">頭髮解惑指南</a>
                <a class="nav-link" href="#">頭髮養護</a>
                <a class="nav-link" href="#">洗髮精介紹</a>
                <a class="nav-link" href="#">頭髮保養診所</a>
            </div>
        </div>
    </div>
</nav>