html,
body {
  height: 100%;
  margin: 0;
}

.custom-icon {
  width: 48px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: $spacer*1.5;
}

@media (max-width: 768px) {
  .custom-icon {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer*1.5;
  }
}

@media (max-width: 576px) {
  .custom-icon {
    margin-top: 0px;
  }
}

.footer-style {
  ul li {
    list-style-type: none;
  }

  ul li a {
    text-decoration: none;
    color: var(--bs-white)
  }
}


button {
  background-color: #A4A596;
  color: white;
}

.custom-btn {
  background-color: #A4A596;
  color: white;
  border: 0;
}

.custom-btn:hover {
  background-color: #4e4e47;
  border-color: #A4A596;
}

.custom-input {
  width: 200px;
}