nav {
  line-height: 1.5;
  color: white;
  font-family: 'Noto Sans TC', sans-serif;

}

li a:hover {
  color: $dark-brown;
}

.header {
  background: $brown;
  height: 96px;
  font-size: $h3-font-size;
}



.logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
  margin-right: $spacer * 3;
}

@media (max-width: 767px) {
  .logo {
    margin-right: 2px;
  }

  h1 {
    font-size: $spacer ;
  }
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

/* 隱藏下拉式選單的三角形 */
.navbar-nav .nav-item .dropdown-toggle::after {
  content: none;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

/* 自訂下拉式選單的背景顏色和文字顏色 */
.dropdown-menu {
  overflow-y: visible;
  background-color: $brown;
  color: $dark-brown;
}

/* 自訂下拉式選單的選項樣式 */
.dropdown-item {
  color: white !important;
  background-color: $brown !important;
}

.dropdown-item:hover {
  color: $dark-brown !important;
}

@media (max-width: 767px) {

  .dropdown-toggle {
    width: 100%;
    text-align: left;
    overflow-y: hidden;
    background-color: $brown;
  }

  .dropdown-menu {
    max-height: none;
    overflow-y: auto;
    background-color: $brown;
  }

  .dropdown-menu a {
    color: white;
    display: block;
    background-color: $brown;
  }

  .dropdown-divider {
    background-color: $brown;
  }


}
