.dandruff-section0{
   
    .img
    {
        max-width: 100%;
        height: auto;
        vertical-align: middle;

    }
    
}
.dandruff-section1{
    background-color: #C6AA9D;  
    
    .img
    {
       max-width: 100%;
       height: auto;
       vertical-align: center;
    }
    
    .txw
    {
      color: #ffffff;
    }
    
}





  