<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>頭髮危機小宇宙</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <div>
                <nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="hair_faq.html">頭髮解惑指南</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭皮屑</li>
                    </ol>
                </nav>
            </div>

            <div class="text-center">
                <h1>頭皮屑</h1>
                <img src="/assets/images/3-2/Section3-2-0.jpg" alt="">
            </div>
            <div class="mt-100">
                <h2>頭皮屑的定義</h2>
                <p>頭皮屑（Dandruff）是一種常見的慢性頭皮疾病，會導致頭皮上的死皮呈片狀，常會如雪花般落在肩膀上，有時會甚至會感到乾燥或搔癢。</p>
				<h2>頭皮屑有多常見？</h2>
				<p>頭皮屑十分普遍，男性發生的比率甚至高於女性，且不同年齡層的人都會受影響，不過只要避開危險因素，就能有效降低發作的風險</p>
				<h2>頭皮屑的症狀</h2>
				<p>頭皮屑的症狀很顯而易見，包括頭髮和肩膀上有白色、油性死皮屑，頭皮上還可能會出現帶有硬皮的紅色區域，或是頭皮發癢的感覺。在秋冬之際情况可能會更糟，因為室內空調的暖氣會導致皮膚乾燥，並且直到夏季情况才會好轉。</p>
			</div>
        </div>

		<div class="dandruff-section1 mt-100">
			<h2 class="container  mb-36 text-start txw ">頭皮屑的5大原因</h2>
			<div class="container d-flex flex-lg-row ">
				<img src="/assets/images/3-2/Section3-2-1.jpg">
				<div class="ms-2">
					<h3 class="txw">01 脂漏性皮膚炎</h3>
					<p class="txw">這是頭皮屑最常見的原因之一，罹患脂漏性皮膚炎會導致皮膚紅腫、出油、發炎，並覆蓋片狀的白色或黃色頭皮屑
					</p>
				</div>
			</div>

			<div class="container d-flex flex-lg-row mt-36">
				<img src="/assets/images/3-2/Section3-2-2.jpg">
				<div class="ms-2">
					<h3 class= "txw">02 洗頭次數過少</h3>
					<p class= "txw">皮頭皮含有皮脂腺，如果不經常洗頭，頭皮上的油脂和皮膚細胞會不斷堆積，導致頭皮屑
					</p>
				</div>
			</div>
			<div class="container d-flex flex-lg-row mt-36">
				<img class="me-md-64" src="/assets/images/3-2/Section3-2-3.jpg">
				<div class="ms-2">
					<h3 class= "txw">03 乾燥皮膚</h3>
					<p class= "txw">乾性皮膚的細胞通常較小，油性也較低；因此乾性皮膚的患者有頭皮屑，但發紅或發炎的可能性不高
					</p>
				</div>
			</div>
			<div class="container d-flex flex-lg-row mt-36">
				<img src="/assets/images/3-2/Section3-2-4.jpg">
				<div class="ms-2">
					<h3 class= "txw">04 對護髮產品的敏感程度</h3>
					<p class= "txw">有時對護髮產品或染髮劑中的某些成分的敏感性，會導致頭皮發紅、發癢、有鱗屑
					</p>
				</div>
			</div>
			<div class="container d-flex flex-lg-row mt-36 mb-36">
				<img src="/assets/images/3-2/Section3-2-5.jpg">
				<div class="ms-2 ">
					<h3 class= "txw">05 馬拉色菌（Malassezia）感染</h3>
					<p class= "txw ">馬拉色菌大多數會出現在成年人的頭皮上。在某些情况下，馬拉色菌會有不正常活化的情形發生，因而刺激頭皮，導致更多的皮膚細胞生長，造成頭皮屑生成。
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="mt-100">
                <h2>頭皮屑的診斷和治療</h2>
				<h3>如何診斷頭皮屑？</h3>
                <p>頭皮屑可透過問診進行診斷，醫師會觀察患者的相關症狀及病史，有時也會取組織做顯微鏡檢查。
                </p>
				<h3>頭皮屑如何治療</h3>
				<p>抗屑洗髮精清洗就能有效去除惱人的頭皮屑生成。一旦使用抗屑洗髮精一段時間，頭皮屑的症狀仍未改善，就應及早至皮膚科就診，請醫師做進一步的檢查是否感染馬拉色菌或罹患其他疾病</p>
            </div>
           
            <div class="container mb-100 d-flex justify-content-end"><input class="button" type="button" value="返回列表"
                    name="返回" onclick="location.href='hair_faq.html'">
            </div>
		</div>


        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>