<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>頭髮危機小宇宙</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">
            <div>
                <nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="index.html">頭髮解惑指南</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭髮毛躁</li>
                    </ol>
                </nav>
            </div>
            <div class="text-center">
                <h1>頭髮毛躁</h1>
                <img class="border" src="/assets/images/3-7/section1.png" alt="">
            </div>
            <div class="section3-7-2 container">
                <div class="mt-100">
                    <h2>三個天然因素造成頭髮毛燥</h2>
                    <p>頭髮毛躁的原因分為天然以及後天造成的，以下這3大天然因素與我們習習相關，相對於後天習慣較難改變
                    </p>
                    <div class="d-flex justify-content-center img3">
                        <div class="img3-7"><img src="/assets/images/3-7/section2-1.png" alt=""></div>
                        <div class="img3-7"><img src="/assets/images/3-7/section2-2.png" alt=""></div>
                        <div class="img3-7"><img src="/assets/images/3-7/section2-3.png" alt=""></div>
                    </div>
                </div>
                <div>
                    <div>
                        <h5>1. 溫度</h5>
                        <p>夏天太陽炎熱，遇上乾燥的環境，加上頭髮缺乏水分可能會導致頭髮容易分岔，在太陽直射下頭髮就會顯得特別毛躁。想要避免頭髮被陽光直射，你可能會選擇戴上帽子，但在炎熱的天氣下，悶住的頭皮變得油膩，加上高溫容易出汗，導致頭髮既扁塌又毛躁。
                        </p>
                    </div>
                    <div>
                        <h5>2. 濕度</h5>
                        <p>濕度也是引起頭髮毛躁的原因之一，因為空氣中的水分會打開頭髮的角質層，讓原本看起來光滑的頭髮變得毛躁，空氣中的水分過多也會導致頭髮捲翹，因此在濕冷的冬天頭髮也容易毛躁。<br>
                            長期待在冷氣房同樣會使頭髮變得毛躁，而如果你經常進行水上運動，長時間浸泡在泳池或是海水中，其中的鹽、氯等物質也會對頭髮造成傷害，這也是為什麼在海邊玩水過後，頭髮會特別乾枯毛躁的原因。
                        </p>
                    </div>
                    <div>
                        <h5>3. 天生髮質</h5>
                        <p>許多人會上網搜尋「頭髮毛躁自然捲」，就是因為當你的自然捲越嚴重、髮質越細軟，越不易服貼在頭皮，因此看起來頭髮就越毛躁，更需要透過後續保養幫助頭髮變得柔順。
                        </p>
                    </div>
                </div>
                <div class="mt-100">
                    <h2>7 大造成頭髮毛躁的 NG 行為</h2>
                    <div class="list col flex-wrap ">
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>洗完手用水抹頭髮</h5>
                            <img src="/assets/images/3-7/section3-1.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>經常燙染髮 </h5>
                            <img src="/assets/images/3-7/section3-2.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>過度洗髮 </h5>
                            <img src="/assets/images/3-7/section3-3.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>洗髮水溫過高</h5>
                            <img src="/assets/images/3-7/section3-4.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>使用刺激性洗護產品</h5>
                            <img src="/assets/images/3-7/section3-5.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>用毛巾用力搓乾頭髮</h5>
                            <img src="/assets/images/3-7/section3-6.png">
                        </div>
                        <div class="list-item d-flex flex-row justify-content-between">
                            <img class="ms-2" src="/assets/images/3-7/section3-error.png">
                            <h5>過度梳理頭髮</h5>
                            <img src="/assets/images/3-7/section3-7.png">
                        </div>
                    </div>
                </div>
                <div class="mt-100">
                    <h2>如何改善頭髮毛燥?</h2>
                    <h3>吹頭髮方式</h3>
                    <h5>1.先吹髮根</h5>
                    <p>順著頭皮的方向先將髮根吹乾，或是可以學習髮廊造型師的做法，用髮夾將頭髮分區吹乾。</p>
                    <h5>2.吹風機距離</h5>
                    <p>將吹風機吹嘴距離頭髮約15-20cm左右，並在吹的過程中不斷移動吹風機，避免熱傷害損害頭髮。</p>
                    <h5>3.塗抹護髮油</h5>
                    <p>在頭差不多半乾的時候，擠上適當的護髮油塗抹髮中到髮尾，補充因吹髮流失的水分和養分，讓頭髮更有光澤。</p>

                    <h5>4.冷風收尾</h5>
                    <p>頭髮吹到約8分乾的時候，建議將吹風機轉為冷風，並且用手指夾住頭髮，由髮根往下順吹，讓頭髮不會有毛躁感，並且會更有光澤。</p>
                    <div class="mt-40">
                        <h3>梳頭髮方式</h3>
                        <ul class="disc">
                            <li>頭髮吹至約8分乾的時候，可以選擇以寬間距木製髮梳來梳理頭髮。</li>
                            <li>如果頭髮比較容易打結，建議可以在梳髮前使用護髮油或是髮妝水，將糾結處用手指輕輕梳開後再用梳子梳理，可以減少頭髮摩擦拉扯。</li>
                            <li>如果頭髮容易有靜電問題，可以選擇木製梳子，減少頭髮因靜電毛躁糾結。</li>
                            <li>如果你的梳子中有氣墊，可以在吹整完畢之後輕拍頭皮，促進頭皮的血液循環，讓頭皮更健康。</li>
                            <li>睡前梳頭可以活絡頭皮，加快毛囊中的血液循環，促進毛髮生長，更可以預防頭髮打結、摩擦分岔的問題。</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="info container mt-40 text-cool-brown mb-100">
            <p>資料來源：https://www.sconas.com/blog/posts/frizzy-hair<br>資料來源：https://www.hair-s.com.tw/blog-k1/</p>
        </div>
        <div class="container mb-100 d-flex justify-content-end"><input class="button" type="button" value="返回列表"
                name="返回">
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>