<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <div class="font-size-base mt-3 mb-4">
                <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="index.html">洗髮精介紹</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">選擇指南</li>
                    </ol>
                </nav>
            </div>
            <h1 class="text-center mb-64">選擇指南</h1>
            <div class="text-dark-brown d-flex flex-column">
                <div class="d-flex flex-column flex-lg-row mb-100 mx-auto">
                    <div class="d-flex flex-column">
                        <h3>一、確認含界面活性劑的洗髮精</h3>
                        <p class="w-75 d-flex flex-wrap md-2 custom-content">
                            洗髮精中的洗潔成分，主要為界面活性劑，功用為能跟難溶於水的油脂進行結合，變成可溶於水之化學物質，再隨著水流離開頭皮、頭髮。也就是說含有界面活性劑的洗髮精，有能將頭髮、頭皮徹底洗潔乾淨的能力。
                    </div>
                    </p>
                    <img class="img mx-auto" src="../assets/images/5-2/section1-1.jpg">
                </div>
                <div class="d-flex flex-column flex-lg-row mb-100">
                    <div class="d-flex flex-column">
                        <h3>二、確認洗髮精安全性</h3>
                        <p class="w-75 d-flex flex-wrap md-2 custom-content">
                            如果使用了與體質不合的洗髮精產品，可能會發生疼痛、紅疹或是發癢等現象。這時不只沒有解決頭髮上的問題，反而產生肌膚上的狀況可說是得不償失，因此確認產品使用上的安全性是相當重要的。
                    </div>
                    </p>
                    <img class="img mx-auto" src="../assets/images/5-2/section1-2.jpg">
                </div>
                <div class="d-flex flex-column flex-lg-row mb-100">
                    <div class="d-flex flex-column">
                        <h3>三、選擇適合自己的洗髮精</h3>
                        <p class="w-75 d-flex flex-wrap md-2 custom-content">
                            許多情況會因為家人同住在一起，而使得大家一起共用洗髮精。但是要挑選出適合大家共同使用的洗髮精相當困難。最大的理由是因為按使用者年齡、性別、頭皮、髮質狀況不同，適合的洗髮精也有著相當大的差別。
                    </div>
                    </p>
                    <img class="img mb-50 mx-auto mb-100" src="../assets/images/5-2/section1-3.jpg">
                </div>
            </div>
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>