<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>頭髮危機小宇宙</title>
    <link rel="icon" href="/assets/images/LOGO.png" type="image/x-icon">
</head>

<body>

    <div class="parent">

    </div>

    <%- include('./layout/header'); -%>

        <div class="hairstructure-section1 pt-3 mb-100">

            <div class="container text-center">
                <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="hairpedia.html">頭髮小百科</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">毛髮結構</li>
                    </ol>
                </nav>

                <div class="text-start hairstructure-content">
                    <h1 class="fw-bold text-secondary mb-5">你真的了解頭髮嗎？毛髮結構組成報你知！</h1>
                    <p class="mb-1">毛髮的構造就像是「壽司捲」，有主要的三個層次，以及其它細小的”配料”存在。</p>
                    <p>毛髮不單單只是影響人體的外觀，它也時時刻刻在保護著我們的身體，反映健康狀況。</p>
                </div>

            </div>

        </div>

        <div class="hairstructure-section2 mb-100 text-center container">
            <h2 class="text-secondary fw-bold mb-4">毛髮三層構造</h2>
            <p class="text-start mb-64">毛髮的結構可以分為三層，最外層是表皮層（ cuticle ）、最內層是髓質層（ medulla ）、中間的部分就是皮質層（ cortex
                ）這三層的特性分別說明如下。</p>

            <div class="d-flex flex-wrap justify-content-xl-between justify-content-center mb-100">
                <div class="img-card mb-4 mb-xl-0">
                    <img src="../assets/images/2-2/section2-1.png" alt="毛髮橫截面圖">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="https://www.napla.com.tw/what-the-hair-secret/"
                            class="text-primary text-decoration-underline" target="_blank">毛髮的三層構造</a></span>
                    <span class="d-block fs-4">▲ 毛髮橫截面圖</span>
                </div>
                <div class="img-card">
                    <img src="../assets/images/2-2/section2-2.png" alt="毛髮橫截面圖">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="https://www.facebook.com/416811738456676/photos/a.1630240883780416/1637904059680765/?type=3"
                            class="text-primary text-decoration-underline" target="_blank">了解頭皮與頭髮結構</a></span>
                    <span class="d-block fs-4">▲ 毛髮切面圖</span>
                </div>
            </div>

            <div class="d-flex flex-wrap">
                <div class="structure-card me-lg-96 me-0 mb-2 mb-lg-0">
                    <h3 class="bg-apricot mb-36 text-secondary fw-bold py-1 px-36 rounded-3 mx-auto d-inline-block">表皮層
                    </h3>
                    <p class="text-start">約占頭髮重量 10%
                        ，由半透明的毛鱗片所覆蓋，主要作用是保護頭髮。毛鱗片在髮幹上的分佈，是呈現瓦狀排列，也就是像屋瓦那樣的造型。在髮根部位，毛鱗片有七到十層，開口會朝向髮梢，隨著頭髮生長，越遠離髮根時層數也會逐漸減少。而毛鱗片層數越多，頭髮就會越粗、越硬。
                    </p>
                    <p class="text-start">毛鱗片受損（最常見是過度的染髮、燙髮，或者是用太高的溫度吹頭髮），頭髮的水分會流失而變得乾燥粗糙甚至分叉。</p>
                </div>

                <div class="structure-card me-lg-96 me-0 mb-2 mb-lg-0">
                    <h3 class="bg-apricot mb-36 text-secondary fw-bold py-1 px-36 rounded-3 mx-auto d-inline-block">皮質層
                    </h3>
                    <p class="text-start">約占頭髮的 80% 重量，由角質蛋白排列成六角型組成纖維狀。這個層次也是毛髮麥拉寧色素 （ melanin
                        ），或者是稱為黑色素的所在，而這些色素會反應出頭髮的顏色。</p>
                    <p class="text-start">有些人會是直髮，有些人會天生捲髮，有些人頭髮粗硬，有些人髮質細軟，其實這些毛髮的差異，都是在這一層決定的喔！</p>
                </div>

                <div class="structure-card">
                    <h3 class="bg-apricot mb-36 text-secondary fw-bold py-1 px-36 rounded-3 mx-auto d-inline-block">髓質層
                    </h3>
                    <p class="text-start">約占頭髮 10%
                        ，結構鬆散有些還夾雜氣泡，主要從頭皮中吸取營養物質供頭髮生長。在這個層次基本上能做的事情不多，只要正常作息，保持頭皮健康，營養均衡，基本上就沒什麼問題啦！</p>
                </div>
            </div>

            <span class="d-block text-primary text-end mb-3">資料來源：<a
                    href="https://www.napla.com.tw/what-the-hair-secret/" class="text-primary text-decoration-underline"
                    target="_blank">毛髮的三層構造</a></span>
        </div>

        <div class="hairstructure-section3 pt-36 pb-5 mb-100">
            <div class="container text-center">
                <h2 class="text-secondary fw-bold mb-64">毛髮成分組成</h2>

                <div class="d-flex justify-content-center align-items-center flex-column flex-md-row">
                    <div class="hairstructure-round me-0 me-md-2 mb-md-0 mb-3">
                        <span class="d-block text-white fs-4">蛋白質</span>
                    </div>
                    <img src="../assets/images/2-2/add-vector.png" alt="加號" class="me-0 me-md-2 mb-md-0 mb-3">
                    <div class="hairstructure-round me-0 me-md-2 mb-md-0 mb-3">
                        <span class="d-block text-white fs-4">水分</span>
                    </div>
                    <img src="../assets/images/2-2/add-vector.png" alt="加號" class="me-0 me-md-2 mb-md-0 mb-3">
                    <div class="hairstructure-round me-0 me-md-2 mb-md-0 mb-3">
                        <span class="d-block text-white fs-4">CMC脂質</span>
                    </div>
                    <img src="../assets/images/2-2/add-vector.png" alt="加號" class="me-0 me-md-2 mb-md-0 mb-3">
                    <div class="hairstructure-round me-0 me-md-2 mb-md-0 mb-3">
                        <span class="d-block text-white fs-4">麥拉寧色素</span>
                    </div>
                    <img src="../assets/images/2-2/equal-vector.png" alt="等號" class="me-0 me-md-2 mb-md-0 mb-3">
                    <div class="hairstructure-round bg-dark-pink">
                        <span class="d-block text-white fs-4">毛髮</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="hairstructure-section4 text-center mb-100">
            <h2 class="text-secondary fw-bold mb-64">毛髮成分科普</h2>

            <div class="section4-card bg-01 pt-5 pb-5">
                <div class="container text-start">
                    <div class="w-50 me-sm-auto ms-sm-0 mx-auto">
                        <span class="d-block text-secondary fs-3 mb-2">蛋白質</span>
                        <p class="text-secondary text-start">
                            蛋白質是由角質蛋白與非角質蛋白組合而成的，這兩種蛋白是以念珠狀的形式結合在一起的，我們之所以可以運用燙髮藥劑改變毛髮的形狀，就是因為毛髮中含有這些胺基酸。</p>
                    </div>
                </div>
            </div>

            <div class="section4-card bg-02 pt-5 pb-5">
                <div class="container text-start">
                    <div class="w-50 mx-auto mx-sm-0 ms-sm-auto">
                        <span class="d-block text-secondary fs-3 mb-2">水分</span>
                        <p class="text-secondary text-start">
                            正常毛髮中有12%是水分，但是經過暖風充分乾燥過後就會降到10%左右。<br>這顯示出毛髮中的水分容易受到外力的影響而產生變化，且毛髮受損後也會容易被環境中的濕度干擾，在溼度高的季節頭髮會呈現扁塌狀態；反之，濕度低的季節則會蓬鬆乾燥。</p>
                    </div>
                </div>
            </div>

            <div class="section4-card bg-03 pt-5 pb-5">
                <div class="container text-start">
                    <div class="w-50 me-sm-auto ms-sm-0 mx-auto">
                        <span class="d-block text-secondary fs-3 mb-2">CMC脂質</span>
                        <p class="text-secondary text-start">
                            CMC脂質是連結角質層和皮質層的脂質，用來保護毛髮避免來自外部的物理及化學性刺激，並防止毛髮成分流失且保持頭髮水分。</p>
                    </div>
                </div>
            </div>

            <div class="section4-card bg-04 pt-5 pb-5">
                <div class="container text-start">
                    <div class="w-50 mx-auto mx-sm-0 ms-sm-auto">
                        <span class="d-block text-secondary fs-3 mb-2">麥拉寧色素</span>
                        <p class="text-secondary text-start">
                            存在於皮質層中，決定頭髮顏色的關鍵元素。又分為真黑色素及棕黑色素2種。<br>真黑色素 : 呈黑褐色。真黑色素含量越多，頭髮就越黑。<br>棕黑色素 : 呈紅、黃色，通常含量是固定的。</p>
                    </div>
                </div>
            </div>

            <div class="section4-card bg-05 pt-5 pb-5">
                <div class="container text-start">
                    <div class="w-50 me-sm-auto ms-sm-0 mx-auto">
                        <span class="d-block text-secondary fs-3 mb-2">其他成分</span>
                        <p class="text-secondary text-start">
                            其他成分中可以列舉出較具代表性的NMF(天然保濕因子)以及微量的金屬元素，總共約佔整體的1%。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hairstructure-section5 text-center mb-100 container">
            <h2 class="text-secondary fw-bold mb-64">毛囊構造</h2>

            <div class="content-width d-flex flex-lg-row flex-column justify-content-center align-items-center">
                <div class="me-sm-64 me-0 mb-lg-0 mb-5">
                    <img src="../assets/images/2-2/section6.png" alt="毛髮橫截面圖">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="https://www.facebook.com/photo/?fbid=360360359206085&set=pcb.360360399206081&locale=hi_IN"
                            class="text-primary text-decoration-underline" target="_blank">毛囊構造</a></span>
                    <span class="d-block fs-4">▲ 毛髮橫截面圖</span>
                </div>

                <div>
                    <p class="text-start">
                        毛囊結構由內而外也分成三層：最內層為毛髮（結構如上所述），中間為毛囊內鞘，最外層為毛囊外鞘。<br>
                        毛囊外鞘可以視為表皮的延伸，內含肝醣（因此在顯微鏡下呈現透亮狀態）、藍格罕氏細胞（負責免疫功能）、黑色素細胞（平時不製造黑色素，但在皮膚表皮黑色素細胞受損時提供補充材料）。<br>
                        當毛囊週期進入退化期的過程，基底膜會增厚皺縮形成玻璃層。<br>
                        毛囊內鞘根據結構排列、角質化狀況及所含蛋白質的不同，又可再分成三層，由內而外依序是內角質層、赫胥黎層、以及亨雷層（這真的就有點太深，如果你要考專業執照再參考），毛囊內鞘往上到皮脂腺之後就消失了，只留下毛皮質層跟表皮層的毛鱗片穿出表皮。<br>
                    </p>
                </div>
            </div>
        </div>


        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>

</body>

</html>