<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>頭髮危機小宇宙</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <div class="font-size-base mt-3 mb-4">
                <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭髮保養診所</li>
                    </ol>
                </nav>
            </div>
            <h1 class="text-left">選擇篩選條件，馬上尋找適合您的診所！</h1>
            <div class="d-flex">
                <div>
                    <h4>地區</h4>
                    <div class="item">
                        <select id="Region" class="select">
                            <option disabled selected value="Region">選取所在地區</option>
                            <option class="item" value="台北市">台北市</option>
                            <option class="item" value="新北市">新北市</option>
                            <option class="item" value="桃園市">桃園市</option>
                            <option class="item" value="新竹縣">新竹縣</option>
                            <option class="item" value="台中市">台中市</option>
                            <option class="item" value="台南市">台南市</option>
                            <option class="item" value="高雄市">高雄市</option>
                        </select>
                    </div>
                </div>
                <div class="ms-4">
                    <h4>診所類型</h4>
                    <select id="Clinic" class="select">
                        <option disabled selected value="Clinic">選取適合的診所類型</option>
                        <option class="item" value="植髮診所">植髮診所</option>
                        <option class="item" value="美學診所">美學診所</option>
                        <option class="item" value="頭髮護理診所">頭髮護理診所</option>
                    </select>
                </div>
            </div>
            <div id="map" class="map mt-36 mb-100"></div>
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    let map;
                    let currentPosition;
                    let markers = [];
                    const clinicsData = [
                        { name: 'DCDC', location: { lat: 25.0422681, lng: 121.5424544 }, region: '台北市', type: '植髮診所' },
                        { name: 'DCDC', location: { lat: 24.8153831, lng: 121.0217587 }, region: '新竹縣', type: '植髮診所' },
                        { name: 'DCDC', location: { lat: 22.6610928, lng: 120.3075843 }, region: '高雄市', type: '植髮診所' },
                        { name: 'DCDC', location: { lat: 24.1570995, lng: 120.6468087 }, region: '台中市', type: '植髮診所' },
                        { name: 'DCDC', location: { lat: 25.0425358, lng: 121.5452807 }, region: '台北市', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 25.0278009, lng: 121.5195911 }, region: '台北市', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 23.8251276, lng: 119.4853344 }, region: '桃園市', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 24.8071615, lng: 120.7321717 }, region: '新竹縣', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 24.1568519, lng: 119.4270025 }, region: '台中市', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 24.1326835, lng: 117.4440798 }, region: '台南市', type: '植髮診所' },
                        { name: 'i hair 風華御髮', location: { lat: 22.6647775, lng: 120.2978912 }, region: '高雄市', type: '植髮診所' },
                        { name: '勻禾妍美學健康診所', location: { lat: 22.6856517, lng: 120.3071755 }, region: '高雄市', type: '美學診所' },
                        { name: 'H&H 醫髮診所', location: { lat: 25.04589, lng: 120.3241616 }, region: '台北市', type: '頭髮護理診所' },
                        { name: 'H&H 醫髮診所', location: { lat: 24.161399, lng: 119.4262235 }, region: '台中市', type: '頭髮護理診所' }
                    ];

                    const regionSelect = document.getElementById("Region");
                    const clinicTypeSelect = document.getElementById("Clinic");

                    // 檢查DOM元素是否存在
                    if (regionSelect && clinicTypeSelect) {
                        regionSelect.addEventListener("change", performSearch);
                        clinicTypeSelect.addEventListener("change", performSearch);
                    }

                    initMap();

                    function initMap() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(
                                function (position) {
                                    currentPosition = {
                                        lat: position.coords.latitude,
                                        lng: position.coords.longitude,
                                    };
                                    initializeMap(currentPosition);
                                },
                                function (error) {
                                    console.error("獲取地理位置失敗:", error);
                                    initializeMap({ lat: 25.0422681, lng: 121.5424544 });
                                }
                            );
                        } else {
                            console.error("瀏覽器不支持地理位置");
                            initializeMap({ lat: 25.0422681, lng: 121.5424544 });
                        }
                    }

                    function initializeMap(position) {
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: position,
                            zoom: 16,
                        });
                        performSearch();
                        const autocomplete = new google.maps.places.Autocomplete(
                            document.getElementById("Region"),
                            {
                                types: ["geocode"],
                                componentRestrictions: { country: "TW" },
                            }
                        );

                        autocomplete.addListener("place_changed", function () {
                            const place = autocomplete.getPlace();
                            if (!place.geometry || !place.geometry.location) {
                                return;
                            }
                            map.setCenter(place.geometry.location);
                            map.setZoom(16);
                            performSearch();
                        });


                    }

                    function performSearch() {
                        const selectedRegion = regionSelect.value;
                        const selectedClinicType = clinicTypeSelect.value;
                        searchOnMap(selectedRegion, selectedClinicType);
                    }

                    function searchOnMap(region, clinicType) {
                        markers.forEach(function (marker) {
                            marker.setMap(null);
                        });
                        markers = [];

                        const matchingClinics = clinicsData.filter((clinic) => {
                            return clinic.region === region && clinic.type === clinicType;
                        });

                        matchingClinics.forEach((clinic) => {
                            const marker = new google.maps.Marker({
                                position: clinic.location,
                                map: map,
                                title: clinic.name,
                            });

                            marker.addListener("click", function () {
                                const infoWindow = new google.maps.InfoWindow({
                                    content: `<strong>${clinic.name}</strong><br>地區: ${clinic.region}<br>類型: ${clinic.type}`,
                                });
                                infoWindow.open(map, marker);
                            });

                            markers.push(marker);
                        });
                    }
                });
            </script>
            <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcxZtWhhKYtMFtj6eM9ek-c6Qtpkht5yA&libraries=places&callback=initMap">
                </script>
            <script type="module" src="../assets/js/pages/hair_care_clinic.js"></script>
</body>

</html>