<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>頭髮危機小宇宙</title>
</head>

<body>
    <%- include('./layout/header'); -%>

	<div class="hair-lifecycle-section1">
        <div class="container ">
            <div>
                <nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="hairpedia.html">頭髮小百科</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭髮生長週期</li>
                    </ol>
                </nav>
              </div>
        </div>

        <div class = "text-center container img">
            <h1 class="text-secondary fw-bold">頭髮生長週期<h1>
            <h3 class="text-secondary">有掉髮困擾的你，是否了解頭髮的生長週期呢?<h3> 
            <img class="image me-md-64 mb-md-0  pb-md-36 pt-md-36" src="../assets/images/2-3/Section2-3-0.png" alt="">   
        </div>
	</div>

	<div class=" hair-lifecycle-section2 container mb-36 text-center mt-100">
        <div class="title-block text-center py-1 px-4 mb-36 d-inline-flex">
			<h2 class="text-secondary fw-bold mb-0">生長期=>衰退期=>休止期</h2>
		</div>
        <div class="section-block mt-3 d-inline-flex">
            <div class="section-block-t w-25">
                <h3 class="text-center">生長期</h3>
            </div>
            <p class="mb-3 mt-3 section-block-p w-75">
                約占所有頭髮 90% 以上，在生長期毛髮長度會不斷增長。而生長期的長短，也決定了毛髮可以長到多長。因為身體不同部位毛髮
                的生長期不同，因此能長成的長度也都不一樣。
                例如眉毛生長周期大約是 1-2 個月，但是頭髮生長週期可以長達 3-5 年。所以毛髮可以長到的長度，其實就是生長的速度乘上生
                長的週期。這就是為什麼眉毛沒辦法長到跟頭髮一樣長的主要原因囉！在生長期中，頭髮會由毛囊發出，同時毛囊底部的黑色
                素細胞也製造出黑色素使頭髮變黑。頭髮在生長期的時候大約一個月生長 1-1.5 公分，但會有些許人種的差異。舉個例子，使用了某些化學治療藥物，有時候會造成落髮，這可能就是因為影響了生長期的頭髮。
            </p>
        </div>

        <div class="section-block mt-3 d-inline-flex">
            <div class="section-block-t w-25">
                <h3 class="text-center">衰退期</h3>
            </div>
            <p class="mb-3 mt-3 section-block-p w-75">
               約占所有毛囊 1% 左右，這個時間大約會持續 2-4 個星期，就會進入休止期。一旦毛囊進入退化期，毛囊就不會
                    再製造黑色素，而原先的毛囊細胞會逐漸凋亡，毛囊外的基底膜逐漸增厚形成透亮的玻璃層，接著毛囊漸漸往上移動，最後長度只剩下原本三分之一。
            </p>
        </div>

        <div class="section-block mt-3 d-inline-flex">
            <div class="section-block-t w-25">
                <h3 class="text-center">休止期</h3>
            </div>
            <p class="mb-3 mt-3 section-block-p w-75">
                休止期脫髮，又稱靜止期脫髮、壓力性掉髮(Telogen effluvium)，乃指人體毛髮提早進入休止期而造成短時間內大量脫落的情形 。 此種情況可能會發生在身體任何部位的毛髮，但由於掉髮比其它部位的脫毛更容易注意到，因此許多診斷都是以頭髮掉落為主要症狀
            </p>
        </div>
        
	</div>

    <div class=" hair-lifecycle-section3  mt-100 text-center pb-100">
            <div class="title-block text-center py-1 px-4 mb-3 d-inline-flex ">
                <h2 class="text-secondary fw-bold mb-3 mt-3 ">補充小知識</h2>
            </div>
            <div class="text-center container">
                <h2 class="text-center mb-36">不同部位的毛髮生長週期</h2>
            </div>

            <div class="wrap container">
                <table>
                  <tr>
                    <td></td>
                    <td>
                        <div class="">
                            <img class="" src="../assets/images/2-3/section2-3-1.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <img class="" src="../assets/images/2-3/section2-3-2.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <img class="" src="../assets/images/2-3/section2-3-3.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <img class="" src="../assets/images/2-3/section2-3-4.jpg" alt="">
                        </div>
                    </td>
                    <td>
                        <div class="">
                            <img class="" src="../assets/images/2-3/section2-3-5.jpg" alt="">
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>部位</td>
                    <td> <div class="dcolor d-inline-flex">頭髮</div></td>
                    <td> <div class="dcolor d-inline-flex">眉毛&睫毛</div></td>
                    <td> <div class="dcolor d-inline-flex">鬍子</div></td>
                    <td> <div class="dcolor d-inline-flex">腋毛</div></td>
                    <td> <div class="dcolor d-inline-flex">腿毛</div></td>
                  </tr>
                <tr>
                    <td>生長期</td>
                    <td> <div class="dcolor d-inline-flex">3年</div></td>
                    <td> <div class="dcolor d-inline-flex">1個月</div></td>
                    <td> <div class="dcolor d-inline-flex">1年</div></td>
                    <td> <div class="dcolor d-inline-flex">4個月</div></td>
                    <td> <div class="dcolor d-inline-flex">4個月</div></td>
                  </tr>
                    
                </table>
              </div>
    </div>    

    <%- include('./layout/footer'); -%>
    
	<script type="module" src="../main.js"></script>
</body>

</html>