<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>頭髮危機小宇宙</title>
    <link rel="icon" href="/assets/images/LOGO.png" type="image/x-icon">
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <div>
                <nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="hair_faq.html">頭髮解惑指南</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭皮出油</li>
                    </ol>
                </nav>
            </div>

            <div class="text-center">
                <h1>頭皮出油</h1>
                <img class="border" src="/assets/images/3-5/section1.png" alt="">
            </div>
            <div class="mt-100">
                <h2>為什麼頭皮會出油?</h2>
                <p>因為頭皮出油是身體正常新陳代謝的現象。適當的油脂分泌能夠保護頭皮，且因為髮絲本身不帶油脂，需由頭皮提供適當的養分以及油脂滋潤髮絲，才能讓髮絲保有彈性與光澤。</p>
            </div>
            <div class="mt-100">
                <h2>出油的原因有哪些?</h2>
                <div class="section3-5-3">
                    <div class="item3-5-3 d-flex flex-lg-row">
                        <img src="/assets/images/3-5/section2-1.png">
                        <div class="ms-2">
                            <h5>01 生活作息、飲食不正常</h5>
                            <p>熬夜會讓身體產生發炎狀況，頭皮便會泛紅，身體也會因發炎分泌更多壓力賀爾蒙，這時就會刺激油脂分泌。除了熬夜外，容易頭皮出油飲食不正常也是一大因素。平時吃太多辛辣、刺激、油炸的食物也會讓身體產生發炎狀況，導致頭皮油脂分泌旺盛。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section3-5-3">
                    <div class="item3-5-3 d-flex flex-lg-row">
                        <img src="/assets/images/3-5/section2-2.png">
                        <div class="ms-2">
                            <h5>02 壓力大</h5>
                            <p>皮膚神經末梢連接著皮脂腺，當壓力增加時會刺激到皮脂腺，這時候就會分泌更多油脂，讓你的頭油膩膩。所以說，當頭皮出油嚴重影響掉髮時，就該檢視自己近期是否壓力太大。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section3-5-3">
                    <div class="item3-5-3 d-flex flex-lg-row">
                        <img src="/assets/images/3-5/section2-3.png">
                        <div class="ms-2">
                            <h5>03 體質</h5>
                            <p>皮脂腺功能表現來自天生遺傳，如果父母親皆為油性體質，那自己為油性體質機率也很高。除此之外，體內濕氣重也會是頭皮出油原因。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section3-5-3">
                    <div class="item3-5-3 d-flex flex-lg-row">
                        <img src="/assets/images/3-5/section2-4.png">
                        <div class="ms-2">
                            <h5>04 髮品使用不當</h5>
                            <p>頭皮出油原因也可能是因為洗錯洗髮精。頭皮乾燥時，又使用清潔效果較強的控油型洗髮精，會導致清潔過度而把油脂洗的乾乾淨淨；前面有提到部分頭皮出油是正常的情況，當頭皮感受到油脂消失的一乾二淨便會開啟保護機制，而分泌更多的油脂，這時的你就會「越洗越油」。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-100">
                <h2>如何改善頭皮出油嚴重情況？</h2>
                <p>當發現自己頭皮異常出油，可以檢視自己長期以來使用的洗髮精，是否長年下來都是洗「控油洗髮精」，但卻完全沒有改善出油情況；如果是的話，建議可以改使用乾性頭皮的「保濕型洗髮精」，因為你有可能是使用不適合的髮品造成異常出油。如果換了洗髮精也沒有改善頭皮出油情況，那就得朝更深的層面探討，思考自己近期是否有因為工作導致壓力太大；或者因為忙碌的工作經常熬夜沒有好好休息；若作息一切正常，就要檢視自己是否吃得太刺激，調整飲食習慣避免辛辣、油炸食物。倘若以上都不是你造成頭皮出油原因，建議要找專業皮膚科醫師諮詢。
                </p>
            </div>
            <div class="info mt-40 text-cool-brown mb-100">
                <p>資料來源：https://www.commonhealth.com.tw/article/87720</p>
            </div>
            <div class="container mb-100 d-flex justify-content-end"><input class="button" type="button" value="返回列表"
                    name="返回" onclick="location.href='hair_faq.html'">
            </div>
        </div>


        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>