<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>頭髮危機小宇宙</title>
    <link rel="icon" href="/assets/images/LOGO.png" type="image/x-icon">
</head>

<body>

    <%- include('./layout/header'); -%>

        <div class="container text-center mb-100 mt-3">
            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                    <li class="breadcrumb-item"><a href="hair_faq.html">頭髮解惑指南</a></li>
                    <li class="breadcrumb-item active text-secondary" aria-current="page">頭皮起膿包、紅疹</li>
                </ol>
            </nav>

            <h1 class="fw-bold text-secondary mb-3">頭皮起膿包、紅疹</h1>
            <p class="text-start mb-0">醫師指出，很多會掉屑或大面積的皮膚問題，根本不會傳染，例如乾癬，又作牛皮癬，其實是免疫系統失調後的疾病不會傳染，而頭癬則是因為皮癬菌感染，屬於會傳染的黴菌感染。
            </p>
        </div>

        <div class="scalppustules-section1 container mb-100">
            <h2 class="fw-bold mb-4 text-center text-secondary">乾癬</h2>
            <div class="mb-40">
                <h3 class="fw-bold mb-3 text-secondary">什麼是乾癬？</h3>
                <p class="text-start">
                    乾癬，也稱作銀屑病，俗稱牛皮癬。免疫系統異常導致的疾病，並不會傳染，發病時會紅、癢、脫屑。常見的有手腳關節外側、手腳皮膚和腰間易受磨擦的部位。而頭皮、指甲、面部、手掌、腳底，甚至生殖器官的皮膚其實亦有機會出現紅腫斑塊，當中頭皮和指甲更屬於較難治療的部位。
                </p>
                <p class="text-start">
                    此疾病嚴重時會致全頭、全身脫皮，患者因此不斷脫髮，頭部寸草不生。由於找不到有效的治療對策，患者更長期慘遭歧視，旁人以為會傳染，對患者避之則吉，使其身心受到極大痛苦。
                </p>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                <div class="mb-4 mb-lg-0 me-lg-4 me-0">
                    <img src="../assets/images/3-3/section2-1.png" alt="頭皮銀屑病影響社交 嚴重者或脫髮" class="section1-img">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="https://www.healthyd.com/articles/expert-blog/%E9%8A%80%E5%B1%91%E7%97%85-%E6%B2%BB%E7%99%82-%E6%8C%87%E7%94%B2-%E9%A0%AD%E7%9A%AE-%E7%9A%AE%E8%86%9A%E7%A7%91-%E8%83%A1%E6%83%A0%E7%A6%8F%E9%86%AB%E7%94%9F"
                            class="text-primary text-decoration-underline" target="_blank">銀屑病治療</a></span>
                    <span class="d-block fs-6 text-center">▲ 頭皮銀屑病影響社交 嚴重者或脫髮</span>
                </div>
                <div>
                    <img src="../assets/images/3-3/section2-2.png" alt="頭皮銀屑病影響社交 嚴重者或脫髮" class="section1-img">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="http://orientaldaily.on.cc/cnt/news/20101119/00176_064.html"
                            class="text-primary text-decoration-underline" target="_blank">牛皮癬女脫髮如清朝男</a></span>
                    <span class="d-block fs-6 text-center">▲ 頭皮銀屑病影響社交 嚴重者或脫髮</span>
                </div>
            </div>
        </div>

        <div class="scalppustules-section2 mb-100 bg-dark-pink">
            <div class="container py-5">
                <div class="mb-40">
                    <h3 class="fw-bold text-light mb-3">發病原因</h3>
                    <p class="text-light">
                        較輕微的頭皮牛皮癬，可能只會出現很小的斑塊，但若症狀較嚴重，患者會出現瘙癢、頭皮剝落、紅斑等症狀，如果過度抓撓，頭皮會出血，令牛皮癬情況再度惡化，久而久之就會導致脫髮，因此絕不能輕視，必須及早進行治療！
                    </p>
                </div>

                <div class="reason-cards d-flex justify-content-between flex-wrap">
                    <div class="reason-card me-3 mb-lg-0 mb-3">
                        <img src="../assets/images/3-3/section3-1.png" alt="遺傳因素" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">遺傳因素</h5>
                        </div>
                    </div>

                    <div class="reason-card me-sm-3 me-0 mb-lg-0 mb-3">
                        <img src="../assets/images/3-3/section3-2.png" alt="疾病感染" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">疾病感染</h5>
                        </div>
                    </div>

                    <div class="reason-card me-lg-3 me-0 mb-lg-0 mb-3">
                        <img src="../assets/images/3-3/section3-3.png" alt="壓力過大" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">壓力過大</h5>
                        </div>
                    </div>

                    <div class="reason-card me-sm-3 me-0 mb-md-0 mb-lg-3 mb-0">
                        <img src="../assets/images/3-3/section3-4.png" alt="藥物影響" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">藥物影響</h5>
                        </div>
                    </div>

                    <div class="reason-card me-3">
                        <img src="../assets/images/3-3/section3-5.png" alt="外傷" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">外傷</h5>
                        </div>
                    </div>

                    <div class="reason-card">
                        <img src="../assets/images/3-3/section3-6.png" alt="內分泌" class="reason-card-img mb-3">
                        <div class="bg-apricot py-2">
                            <h5 class="fw-bold text-secondary m-0 text-center">內分泌</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="scalppustules-section3 mb-100 container">
            <h3 class="fw-bold text-secondary mb-4">治療與預防</h3>
            <div class="text-center mb-4">
                <div class="bg-apricot d-inline-block rounded-3">
                    <div
                        class="d-flex py-3 px-sm-5 px-4 justify-content-center align-items-center flex-md-row flex-column">
                        <div>
                            <img src="../assets/images/3-3/section4-hospital.png" alt="尋求就醫" class="section3-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">尋求就醫</h5>
                        </div>

                        <img src="../assets/images/3-3/right-arrow.png" alt="right-arrow"
                            class="section3-arrow-img mx-md-4 mx-0 my-4">

                        <div>
                            <img src="../assets/images/3-3/section4-medical-record.png" alt="專業治療" class="section3-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">專業治療</h5>
                        </div>

                        <img src="../assets/images/3-3/right-arrow.png" alt="right-arrow"
                            class="section3-arrow-img mx-md-4 mx-0 my-4">

                        <div>
                            <img src="../assets/images/3-3/section4-hair-washing.png" alt="日常清潔" class="section3-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">日常清潔</h5>
                        </div>
                    </div>
                </div>
            </div>

            <p>症狀反覆發作時，建議詢求專業醫師，診間治療時，能以外用藥，搭配照光治療控制免疫反應，其原理主要是調整免疫細胞、因免疫系統失調的反應，讓不穩定與多出來的激素達到制衡的效果，照光治療通常以窄波紫外線B光進行，是乾癬標準治療方式，健保有給付；再嚴重者，可搭配乾癬口服藥，例如：免疫抑制劑、A酸或是生物製劑，上述這些治療方式皆需詢求專業醫師診治。
            </p>
            <p class="mb-4">除了上述提及之藥物與照光治療，建議仍需搭配居家洗髮精進行護理，居家清潔與診間治療搭配，才得以相輔相成。</p>

            <h5 class="fw-bold text-secondary mb-3">頭皮日常護理</h5>
            <ol class="mb-4">
                <li class="mb-2">避免使用定型劑、染髮、電髮等，以免化學物質傷害頭皮</li>
                <li class="mb-2">使用合適的洗髮水，例如含焦油成分的洗髮水</li>
                <li class="mb-2">保持頭皮日常清潔衛生，如一天洗頭一次</li>
                <li class="mb-0">避免過度清潔，減少刺激頭皮。</li>
            </ol>

            <h5 class="fw-bold text-secondary mb-4">預防乾癬</h5>
            <div
                class="section3-cards d-flex justify-content-center align-items-center flex-wrap flex-lg-row flex-column">
                <div
                    class="section3-card d-flex py-3 px-32 align-items-center border border-primary me-lg-4 me-0 mb-xl-4 mb-4">
                    <img src="../assets/images/3-3/section4-2-1.png" alt="減少辛辣及刺激性飲食"
                        class="section3-img me-sm-32 me-2">
                    <p class="m-0">減少辛辣及刺激性飲食</p>
                </div>

                <div
                    class="section3-card d-flex py-3 px-32 align-items-center border border-primary me-xl-4 me-0 mb-xl-4 mb-4">
                    <img src="../assets/images/3-3/section4-2-2.png" alt="減少摳抓等導致頭皮受傷的動作"
                        class="section3-img me-sm-32 me-2">
                    <p class="m-0">減少摳抓等導致頭皮受傷的動作</p>
                </div>

                <div
                    class="section3-card d-flex py-3 px-32 align-items-center border border-primary me-xl-0 me-lg-4 me-0 mb-xl-4 mb-4">
                    <img src="../assets/images/3-3/section4-2-3.png" alt="減少暴露在高溫、吹風及日曬的環境"
                        class="section3-img me-sm-32 me-2">
                    <p class="m-0">減少暴露在高溫、吹風及日曬的環境</p>
                </div>

                <div
                    class="section3-card d-flex py-3 px-32 align-items-center border border-primary me-xl-4 me-0 mb-xl-0 mb-4">
                    <img src="../assets/images/3-3/section4-2-4.png" alt="吃巧、睡飽、心情好" class="section3-img me-sm-32 me-2">
                    <p class="m-0">吃巧、睡飽、心情好</p>
                </div>

                <div
                    class="section3-card d-flex py-3 px-32 align-items-center border border-primary me-lg-4 me-0 mb-xl-0 mb-4">
                    <img src="../assets/images/3-3/section4-2-5.png" alt="使用軟化角質的產品或藥物"
                        class="section3-img me-sm-32 me-2">
                    <p class="m-0">使用軟化角質的產品或藥物</p>
                </div>

                <div class="section3-card d-flex py-3 px-32 align-items-center border border-primary mb-xl-0 mb-4">
                    <img src="../assets/images/3-3/section4-2-6.png" alt="加強頭皮保濕" class="section3-img me-sm-32 me-2">
                    <p class="m-0">加強頭皮保濕</p>
                </div>
            </div>
        </div>

        <div class="scalppustules-section4 container mb-100">
            <h2 class="fw-bold mb-4 text-center text-secondary">頭癬</h2>
            <div class="mb-40">
                <h3 class="text-secondary fw-bold mb-3">什麼是頭癬？</h3>
                <p>頭癬好發於兒童，常見的菌種為小芽孢癬菌和毛髮癬菌。頭癬的症狀包括紅腫、脫屑、膿皰，嚴重甚至會引起掉髮，症狀與脂漏性皮膚炎與細菌性毛囊炎類似，正確的鑑別診斷很重要。</p>
                <p class="mb-0">
                    頭癬的臨床表現多變，有可能以頭皮屑增加、頭皮搔癢作為表現，與常見的脂漏性皮膚炎表現很相似；也有可能以頭皮紅腫化膿、形成腫塊等發炎性較強的病灶為臨床表現。頭癬若無正確的診斷與治療，除了症狀惱人，也可能會導致頭皮產生疤痕與不可逆的掉髮，更可能會傳染給家庭內其他同住的成員，因此大家對頭癬要有正確的認識。
                    頭癬的致病菌—皮癬菌，屬於黴菌的一種，雖然大部分的人對皮癬菌可能不甚熟悉，但其實皮癬菌就是引起香港腳、灰指甲之類疾病的一種常見的病原菌。
                </p>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                <div class="mb-4 mb-lg-0 me-lg-4 me-0">
                    <img src="../assets/images/3-3/section5-1.png" alt="六十五歲的阿婆 頭皮得了『頭癬』" class="section4-img">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a
                            href="https://www.dr-skin.com.tw/health/view/161"
                            class="text-primary text-decoration-underline" target="_blank">掉髮起膿皰　小心頭癬作怪 </a></span>
                    <span class="d-block fs-6 text-center">▲ 六十五歲的阿婆 頭皮得了『頭癬』</span>
                </div>
                <div>
                    <img src="../assets/images/3-3/section5-2.png" alt="兒童因接觸患病寵物引起真菌感染 導致出現頭癬" class="section4-img">
                    <span class="d-block text-primary text-end mb-3">資料來源：<a href="https://reurl.cc/DogOpm"
                            class="text-primary text-decoration-underline" target="_blank">深圳多名兒童因養寵物患頭癬 </a></span>
                    <span class="d-block fs-6 text-center">▲ 兒童因接觸患病寵物引起真菌感染 導致出現頭癬</span>
                </div>
            </div>
        </div>

        <div class="scalppustules-section5 mb-100 bg-dark-pink">
            <div class="container py-5">
                <h3 class="fw-bold text-light mb-40">發病原因</h3>
                <div>
                    <div class="section5-card d-flex flex-sm-row flex-column align-items-start mb-32">
                        <img src="../assets/images/3-3/section6-1.png" alt="青春期前的小孩"
                            class="section5-img me-sm-32 me-0 mb-sm-0 mb-3 border border-5 border-light">
                        <div>
                            <h6 class="fw-bold text-light mb-3">青春期前的小孩</h6>
                            <p class="mb-0 text-light">
                                尤其是讀幼稚園的小女生比較容易有頭癬的感染。幼稚園小朋友之間皮膚接觸的機會比較多。另外，小朋友在學校的活動多，小女生如果玩到披頭散髮，有時候幼稚園老師會幫小女生綁頭髮，常常一支梳子全班一起用，如果有一位小朋友感染頭癬，就可能經由這些方式互相傳染。
                            </p>
                        </div>
                    </div>

                    <div class="section5-card d-flex flex-sm-row flex-column align-items-start mb-32">
                        <img src="../assets/images/3-3/section6-2.png" alt="銀髮族或行動不便的長者"
                            class="section5-img me-sm-32 me-0 mb-sm-0 mb-3 border border-5 border-light">
                        <div>
                            <h6 class="fw-bold text-light mb-3">銀髮族或行動不便的長者</h6>
                            <p class="mb-0 text-light">
                                長者有時自己不方便洗頭，常常到美容院洗頭，若器具清潔不足，也會增加感染的風險。
                            </p>
                        </div>
                    </div>

                    <div class="section5-card d-flex flex-sm-row flex-column align-items-start">
                        <img src="../assets/images/3-3/section6-3.png" alt="常與小動物接觸"
                            class="section5-img me-sm-32 me-0 mb-sm-0 mb-3 border border-5 border-light">
                        <div>
                            <h6 class="fw-bold text-light mb-3">常與小動物接觸</h6>
                            <p class="text-light">
                                狗及貓的皮膚上可能有跳蚤、壁蝨或黴菌，會經由過度親密的接觸引起皮膚病，冬天的時候，很多人都和寵物一起入眠，要特別注意相關的問題。
                            </p>
                            <p class="text-light mb-0">
                                在黴菌方面， 動物身上常見的黴菌： 犬小芽孢菌（Microsporum
                                canis）不但會引發寵物局部掉毛，皮膚脫屑，還可能經由接觸飼主的皮膚，引發飼主產生身體或頭部皮膚黴菌感染。和一般人體互相傳染的黴菌感染相比，經由動物傳染的體癬及頭癬會引發較厲害的發炎反應，有時可在病灶周圍發現小膿疱或發炎現象。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="scalppustules-section6 container mb-100">
            <h3 class="fw-bold text-secondary mb-4">治療</h3>

            <div class="text-center mb-4">
                <div class="bg-apricot d-inline-block rounded-3">
                    <div
                        class="d-flex py-3 px-sm-5 px-4 justify-content-center align-items-center flex-md-row flex-column">
                        <div>
                            <img src="../assets/images/3-3/section4-hospital.png" alt="尋求就醫" class="section6-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">尋求就醫</h5>
                        </div>

                        <img src="../assets/images/3-3/right-arrow.png" alt="right-arrow"
                            class="section6-arrow-img mx-md-4 mx-0 my-4">

                        <div>
                            <img src="../assets/images/3-3/section4-medical-record.png" alt="專業治療" class="section6-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">專業治療</h5>
                        </div>

                        <img src="../assets/images/3-3/right-arrow.png" alt="right-arrow"
                            class="section6-arrow-img mx-md-4 mx-0 my-4">

                        <div>
                            <img src="../assets/images/3-3/section4-hair-washing.png" alt="日常清潔" class="section6-img">
                            <h5 class="fw-bold text-secondary m-0 text-center">日常清潔</h5>
                        </div>
                    </div>
                </div>
            </div>

            <p>頭癬治療以口服抗黴菌藥物為主，常用藥物為Gris-Peg及Lamisil，療程約需6～8周，醫師也可能會建議病人使用藥用洗髮水來防止感染傳播給他人。</p>
            <p class="mb-40">療程約過1～2周後症狀會好轉，請勿自行停藥，需完成所有療程才能防止復發，此外，頭癬可能由寵物引起，寵物也需一併進行治療。</p>

            <div class="text-center">
                <div class="d-inline-block">
                    <div class="rounded-top-3 text-center py-2 bg-dark-pink border-bottom border-light">
                        <h5 class="text-light mb-0">小貼士提醒</h5>
                    </div>
                    <div class="rounded-bottom-3 text-center bg-dark-pink">
                        <div class="d-flex justify-content-center align-items-center flex-md-row flex-column py-3 px-5">
                            <div class="remind-card d-flex align-items-center px-5">
                                <p class="mb-0 text-start fs-12">寵物的黴菌會傳染給飼主。</p>
                            </div>
                            <div class="remind-card d-flex align-items-center px-5">
                                <p class="mb-0 text-start fs-12">頭癬除了感染頭皮，還會影響毛囊，建議以口服藥物治療。</p>
                            </div>
                            <div class="remind-card d-flex align-items-center px-5">
                                <p class="mb-0 text-start fs-12">頭癬患者要使用個人專屬的梳子及毛巾。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="scalppustules-section6 container mb-40">
            <h3 class="fw-bold text-secondary mb-4">預防</h3>

            <ol>
                <li class="mb-3 fw-bold">
                    <h6 class="fw-bold text-secondary">頭皮清潔</h6>
                    <p class="mb-0 fw-normal">頭皮的日常清潔及護理非常重要，此外理髮後務必將頭洗乾淨。</p>
                </li>
                <li class="mb-3 fw-bold">
                    <h6 class="fw-bold text-secondary">保持清潔</h6>
                    <p class="mb-0 fw-normal">除了頭皮外，洗手也可避免感染，尤其是在學校、幼稚園、體育館和更衣室等公共空間需特別注意個人清潔與衛生。</p>
                </li>
                <li class="mb-3 fw-bold">
                    <h6 class="fw-bold text-secondary">避免接觸受感染動物</h6>
                    <p class="mb-0 fw-normal">需注意塊狀脫毛的動物，有些動物或寵物帶菌時不會有明顯症狀，因此有養寵物的民眾最好定期帶寵物健檢。</p>
                </li>
                <li class="mb-3 fw-bold">
                    <h6 class="fw-bold text-secondary">不要使用他人貼身物品</h6>
                    <p class="mb-0 fw-normal">勿使用他人的毛巾、梳子、髮飾等貼身用品。</p>
                </li>
            </ol>
        </div>

        <ul class="container mb-3">
            <li class="text-primary">資料來源：<a href="https://www.edh.tw/article/29509"
                    class="text-primary text-decoration-underline" target="_blank">頭癬最愛找上更年期後的女性！掉髮、頭皮搔癢必看頭癬改善方法</a>
            </li>
            <li class="text-primary">資料來源：<a href="https://kb.commonhealth.com.tw/library/621.html#data-3-collapse"
                    class="text-primary text-decoration-underline" target="_blank">頭癬</a></li>
            <li class="text-primary">資料來源：<a href="https://health.ltn.com.tw/article/breakingnews/3718004"
                    class="text-primary text-decoration-underline" target="_blank">健康網》不是所有皮膚病都會傳染！ 分清「乾癬」和「頭癬」</a></li>
            <li class="text-primary">資料來源：<a href="https://reurl.cc/eDN89b"
                    class="text-primary text-decoration-underline" target="_blank">銀屑病治療｜指甲、頭皮銀屑病最難治療的原因
                    皮膚科醫生解說有效診療方法</a></li>
        </ul>

        <div class="container mb-100 d-flex justify-content-end"><input class="button" type="button" value="返回列表"
                name="返回" onclick="location.href='hair_faq.html'">
        </div>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>