<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>頭髮危機小宇宙</title>
</head>

<body>

	<%- include('./layout/header'); -%>

	<div class="container text-center mb-64 p-0 mt-3">
		<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">首頁</a></li>
				<li class="breadcrumb-item active text-secondary" aria-current="page">頭皮清潔</li>
			</ol>
		</nav>

		<h1 class="fw-bold text-secondary">頭皮清潔</h1>
	</div>

	<div class="container scalpcleansing-section1 py-36 py-md-64 px-100 mb-100">
		<h2 class="text-secondary mb-4 mb-sm-64 mb-md-100 fw-bold">洗頭頻率無關健康</h2>
		<p class="mb-0 mb-lg-100">
			洗頭最主要是為了維持頭髮與頭皮的衛生乾淨，許多專家認為天天洗頭並不會造成頭髮受損或是有害健康，事實上選擇好的洗髮精並且符合每個人頭皮屬性，進而選擇適合自己的洗頭頻率才是最重要的事情！</p>
	</div>

	<div class="scalpcleansing-section2 container mb-100 text-center">
		<div class="title-block text-center py-1 px-4 mb-100 d-inline-flex">
			<h2 class="text-secondary fw-bold mb-0">洗頭頻率依照頭皮屬性區分</h2>
		</div>

		<ul class="p-0">
			<li class="d-flex flex-column flex-md-row align-items-center mb-64">
				<img class="image me-0 mb-3 me-md-64 mb-md-0" src="../assets/images/5-1/section2-1.jpg"
					alt="極度油性與容易出油的頭皮">
				<div class="text-start">
					<h3 class="text-secondary mb-3">極度油性與容易出油的頭皮</h3>
					<p class="mb-0">建議增加洗頭頻率可以天天洗頭，避免油污與髒污殘留並且可以讓人看起來神清氣爽，記得可以選用控制平衡油脂的洗髮產品，洗頭時避免用過熱的水，因為過熱的水會加速油脂分泌。
					</p>
				</div>
			</li>
			<li class="d-flex flex-column flex-md-row-reverse align-items-center">
				<img class="image ms-0 mb-3 ms-md-64 mb-md-0" src="../assets/images/5-1/section2-2.jpg"
					alt="極度油性與容易出油的頭皮">
				<div class="text-start">
					<h3 class="text-secondary mb-3">乾性頭皮與發質的頭皮</h3>
					<p class="mb-0">可不必天天洗頭，頻繁洗頭可能會加重頭皮乾燥的情況或造成頭皮受損，選用滋潤保濕型的洗髮產品有助於保護頭皮，並且補充髮絲水分增添光澤。</p>
				</div>
			</li>
		</ul>
	</div>

	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>