<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>頭髮危機小宇宙</title>
</head>

<body>
	<%- include('./layout/header'); -%>
	<div class="container mb-100">
		<div>
			<nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">首頁</a></li>
					<li class="breadcrumb-item"><a href="hair_care.html">頭髮養護</a></li>
					<li class="breadcrumb-item active text-secondary" aria-current="page">頭皮護理</li>
				</ol>
			</nav>
		</div>

		<div class="scalpcare-section1  text-center">
			<h1 class="text-secondary fw-bold">頭皮護理</h1>
			<img src="/assets/images/4-2/section4-2-0.png" alt="">
		</div>


		<div class="mt-100 mt-36">
			<h2 class="text-secondary">頭髮護理4步驟:</h2>
			<div class="scalpcare-section2 ">
				<div class="scalpcare-item d-flex flex-lg-row ">
					<div classs="w-25">
						<img src="/assets/images/4-2/section4-2-1.png">
					</div>
					<div class="ms-2 w-75 mt-36">
						<h5>保養步驟一:洗髮前用梳子按摩去汙</h5>
						<p>頭部比起其他部位比較沒有肌肉，並且血管細小，所以透過梳子適度刺激頭皮，可以改善頭皮新陳代謝，促進血液循環
						</p>
					</div>
				</div>
			</div>

			<div class="scalpcare-section2">
				<div class="scalpcare-item d-flex flex-lg-row">
					<div classs="w-25">
						<img src="/assets/images/4-2/section4-2-2.png">
					</div>
					<div class="ms-2 w-75 mt-36 " >
						<h5>保養步驟二:合適水溫</h5>
						<p>使用 36 至 38℃ 的溫水是較為安全的準則。以溫水搭配洗髮精，讓洗髮精停留在頭髮上並稍加按摩，待泡沫沖洗完畢
							後，再以冷水進行二次沖洗，關閉頭皮毛孔與毛鱗片；而冷水的溫度，不需像冰塊一樣冰，選擇能忍受的溫度即可。
						</p>
					</div>
				</div>
			</div>

			<div class="scalpcare-section2">
				<div class="scalpcare-item d-flex flex-lg-row">
					<div classs="w-25">
						<img src="/assets/images/4-2/section4-2-3.png">
					</div>
					<div class="ms-2 w-75 mt-36">
						<h5>保養步驟三:用頭皮護理液滋養頭皮</h5>
						<p>於頭皮清潔後，吹乾頭髮與頭皮，適量噴於頭皮部位(液體養髮液就將其直接塗抹在頭皮上)用指尖輕揉按摩落髮部位頭皮約1~3分鐘，待頭皮養護液吸收即可，不需沖洗
					</div>
				</div>
			</div>
			<div class="scalpcare-section2">
				<div class="scalpcare-item d-flex flex-lg-row">
					<div classs="w-25">
						<img src="/assets/images/4-2/section4-2-4.png">
					</div>
					<div class="ms-2 w-75 mt-36">
						<h5>保養步驟四:毛孔深度清潔</h5>
						<p>頭部比起其他部位比較沒有肌肉，並且血管細小，所以透過梳子適度刺激頭皮，可以改善頭皮新陳代謝，促進血液循環
					</div>
				</div>
			</div>

			
		</div>

	</div>

	<%- include('./layout/footer'); -%>

	<script type="module" src="../main.js"></script>
</body>

</html>