<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>頭髮危機小宇宙</title>
</head>

<body>

    <div class="parent">

    </div>

    <%- include('./layout/header'); -%>

        <div class="shampoointro-section1">

            <div class="shampoointro-block mb-100">
                <div class="container text-center p-0">
                    <nav class="" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 text-white">
                            <li class="breadcrumb-item"><a href="index.html" class="text-primary">首頁</a></li>
                            <li class="breadcrumb-item active text-secondary text-white" aria-current="page">洗髮精介紹</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div id="shampoointroAnimation1" class="shampoointro-animation shampoointro-animation-1">
                <img src="../assets/images/5/section1-6.png" alt="太空人坐火箭出發前往頭皮清潔" class="shampoointro-image">
            </div>

            <div id="shampoointroAnimation2" class="shampoointro-animation shampoointro-animation-2">
                <img src="../assets/images/5/section1-5.png" alt="太空人坐火箭出發前往選擇指南" class="shampoointro-image">
            </div>

            <div id="shampoointroAnimation3" class="shampoointro-animation shampoointro-animation-3">
                <img src="../assets/images/5/section1-8.png" alt="太空人坐鉛筆出發前往洗髮精推薦" class="shampoointro-image">
            </div>

            <div class="container shampoointro-content d-flex flex-column">

                <div class="d-flex align-self-start w-100 justify-content-between">
                    <div class="w-50 text-center">
                        <a id="shampoointro-class-link1" href="#" class="text-center">
                            <img src="../assets/images/5/Group 325.png" alt="頭皮清潔" class="shampoointro-image mb-3">
                            <br>
                            <h2 class="d-inline text-white mb-0">頭皮清潔</h2>
                        </a>
                    </div>                    

                    <div class="shampoointro-animation-float text-end">
                        <img src="../assets/images/5/section1-3.png" alt="太空人&星球" class="shampoointro-image">
                    </div>
                </div>

                <img src="../assets/images/2/line 3.png" alt="線段" class="shampoointro-image line align-self-center mb-2">

                <div class="w-50 text-center align-self-end">
                    <a id="shampoointro-class-link2" href="#" class="text-center">
                        <img src="../assets/images/5/Group 327.png" alt="選擇指南" class="shampoointro-image mb-3">
                        <br>
                        <h2 class="d-inline text-white mb-0">選擇指南</h2>
                    </a>
                </div>                

                <img src="../assets/images/2/line 4.png" alt="線段" class="shampoointro-image line align-self-center mb-2">

                <div class="d-flex align-self-center w-100 justify-content-between">
                    <div class="w-50 text-center">
                        <a id="shampoointro-class-link3" href="#" class="text-center align-self-start">
                            <img src="../assets/images/5/Group 326.png" alt="洗髮精推薦" class="shampoointro-image mb-3">
                            <br>
                            <h2 class="d-inline text-white mb-0">洗髮精推薦</h2>
                        </a>
                    </div>

                    <div class="shampoointro-animation-float text-end align-self-end">
                        <img src="../assets/images/5/section1-2.png" alt="太空人讀書" class="shampoointro-image">
                    </div>
                </div>

            </div>

            <div class="shampoointro-block mt-100"></div>


        </div>


        <%- include('./layout/footer'); -%>

            <script type="module" src="../assets/js/pages/shampoo_intro.js"></script>
            <script type="module" src="../main.js"></script>
</body>

</html>