<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>頭髮危機小宇宙</title>
    <link rel="icon" href="/assets/images/LOGO.png" type="image/x-icon">
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">
            <div>
                <nav class="mb-4 pt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                        <li class="breadcrumb-item"><a href="hair_faq.html">頭髮解惑指南</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">頭髮分岔</li>
                    </ol>
                </nav>
            </div>

            <div class="text-center">
                <h1>頭髮分岔</h1>
                <img class="border" src="/assets/images/3-6/section1.png" alt="">
            </div>
            <div class="container">
                <div class="mt-100">
                    <h2>什麼是頭髮分岔?</h2>
                    <p>頭髮分叉就是頭髮從中間斷裂，像是被剪開卻沒被剪斷的情況。通常出現髮尾毛躁、容易打結、較無光澤等這些現象，即表示頭髮分叉的情況開始出現了。
                    </p>
                </div>
                <div class="section3-6-2 mt-100 mb-40">
                    <h2>頭髮分岔原因有哪些？</h2>
                    <div class="section3-6-2-itemsz">
                        <div>
                            <img class="img" src="/assets/images/3-6/section2-1.png" alt="">
                            <h5>過度染燙髮</h5>
                        </div>

                        <div>
                            <img class="img" src="/assets/images/3-6/section2-2.png" alt="">
                            <h5>梳頭髮太大力</h5>
                        </div>
                        <div>
                            <img class="img" src="/assets/images/3-6/section2-3.png" alt="">
                            <h5>使用加熱工具溫度過高</h5>
                        </div>
                        <div>
                            <img class="img" src="/assets/images/3-6/section2-4.png" alt="">
                            <h5>紫外線照射</h5>
                        </div>
                        <div>
                            <img class="img" src="/assets/images/3-6/section2-5.png" alt="">
                            <h5>頭髮營養不良</h5>
                        </div>



                    </div>

                </div>
            </div>
        </div>
        <div class="section3 mt-100 mb-100 text-white">
            <div class="container">
                <h2 class="pt-5">頭髮分岔類型介紹</h2>
                <div class="d-flex flex-column">
                    <div class="item1">
                        <img src="/assets/images/3-6/section3-1.png">
                        <div class="d-flex flex-column ms-32 ">
                            <h5>基本型分岔</h5>
                            <p>髮尾最後呈現一個V或是Y的形狀，代表頭髮因營養不足而開始早期斷裂。此時，是頭髮再給你警告的時候了，就要開始認真護髮了！</p>
                        </div>

                    </div>
                    <div class="item1">
                        <img src="/assets/images/3-6/section3-2.png">
                        <div class="d-flex flex-column ms-32">
                            <h5>樹枝狀分岔</h5>
                            <p>髮尾像是樹枝般不斷岔出，像耙子及樹枝的形狀，代表頭髮呈現非常受損的情況。通常在過度染燙的頭髮上會出現，這時候也要開始深層護髮。而在家裡可以使用髮膜，並養成定期上髮廊修剪跟護髮的習慣。
                            </p>
                        </div>
                    </div>
                    <div class="item1">
                        <img src="/assets/images/3-6/section3-3.png">
                        <div class="d-flex flex-column ms-32">
                            <h5>結狀型分岔</h5>
                            <p>髮尾最後容易有一個結出現，通常會在自然捲及有捲度的頭髮裡出現。這時，建議梳頭髮時不要過度用力，輕輕將結梳開，梳得太大力反而會導致頭髮分叉，更加受損！</p>
                        </div>
                    </div>
                    <div class="item1">
                        <img src="/assets/images/3-6/section3-4.png">
                        <div class="d-flex flex-column ms-32">
                            <h5>蠟燭型分岔</h5>
                            <p>髮尾最後會粗細不一，會有一絲細細的頭髮出現。雖然表層尚未斷裂，但表示髮質隨時有可能被破壞。出現這個情況建議上髮廊剪頭髮，並且搭配護髮產品使用。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="section3-6-4 container">
            <h2>改善頭髮分岔的方法有哪些？</h2>
            <ul>
                <li>養成好的生活習慣</li>
                <li>避免熱傷害</li>
                <li>燙染間隔時間拉長</li>
            </ul>
        </div>
        <div class="info container mt-40 text-cool-brown mb-100">
            <p>資料來源：https://pro.superbcut.com.tw/pages/split-ends1</p>
        </div>
        <div class="container mb-100 d-flex justify-content-end"><input class="button" type="button" value="返回列表"
                name="返回" onclick="location.href='hair_faq.html'">
        </div>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>